<nav aria-label="Page navigation example">
  <ul class="pagination pagination-lg justify-content-center">

    <li class="page-item" [ngClass]="{' disabled' : currentPage===1}">
      <a (click)="setPage(1)" class="page-link" href="#">First</a>
    </li>

    <li class="page-item" [ngClass]="{' disabled':currentPage===1}">
      <a (click)="setPage(currentPage-1)" class="page-link" href="#">Previous</a>
    </li>

    <li *ngFor="let page of pages" [ngClass]="{'page-item active' : currentPage === page}" class="page-item">
      <a class="page-link" (click)="setPage(page)" href="#">{{page}}</a>
    </li>

    <li class="page-item" [ngClass]="{' disabled':currentPage===totalPages || pages.length < 2}">
      <a (click)="setPage(currentPage+1)" class="page-link" href="#">Next</a>
    </li>

    <li class="page-item" [ngClass]="{' disabled':currentPage===totalPages|| pages.length < 2}">
      <a (click)="setPage(totalPages)" class="page-link" href="#">Last</a>
    </li>

  </ul>
</nav>
