<div class="up_panel">
  <h2 class="head_title"><i class="fa fa-user-secret " aria-hidden="true"></i> Users Table</h2>

  <div class="d-flex flex-row">
    <div class="item"><p>Show</p></div>
    <select (change)="selectedChange($event)" id="selectPane" title="" [(ngModel)]="selectedValue">
      <option *ngFor="let value of selectValues" [value]="value">{{value}}</option>
    </select>
    <div class="item">
      <p>entries</p>
    </div>


    <button type="button" (click)="showCreateModal()" data-toggle="modal" id="addUser"
            class="btn btn-success">
      <i class="fa fa-user-plus" aria-hidden="true"></i> Add User
    </button>

    <div class="item2">
      <!--<mat-form-field>-->
      <!--&lt;!&ndash;      <label id="searchLabel"> <p>Search:</p></label>  &ndash;&gt;<input id="searchInput" matInput-->
      <!--(ngModelChange)="changeInput()"-->
      <!--[(ngModel)]="searchValue"-->
      <!--placeholder="searchQuery">-->
      <!--</mat-form-field>-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Search</span>
          <span class="input-group-text">by</span>
          <button id="dropDownButton" class="btn btn-outline-secondary dropdown-toggle" type="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{buttonTitle}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" (click)="searchColumnSelect($event)">Id</a>
            <a class="dropdown-item" href="#" (click)="searchColumnSelect($event)">Name</a>
            <a class="dropdown-item" href="#" (click)="searchColumnSelect($event)">Position</a>
            <a class="dropdown-item" href="#" (click)="searchColumnSelect($event)">Office</a>
            <a class="dropdown-item" href="#" (click)="searchColumnSelect($event)">Age</a>
            <a class="dropdown-item" href="#" (click)="searchColumnSelect($event)">Start Date</a>
            <a class="dropdown-item" href="#" (click)="searchColumnSelect($event)">Salary</a>
          </div>
        </div>
        <input type="text" id="searchInput" (ngModelChange)="changeInput($event)" [(ngModel)]="searchValue"
               class="form-control" aria-label="Amount (to the nearest dollar)" title=""
               placeholder="input your search query">
      </div>

    </div>
  </div>
</div>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>-->
