.up_panel {
  height: 100px
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

.box {
  height: 80px;
  width: 80px;
  background: red;
  margin: 5px;
  text-align: center;
}

.head_title {
  margin: 10px;
}

option {
  color: gray;
  font-weight: bold;
}

select {
  border: none;
  margin-top: 8px;
  color: gray;
  font-weight: bold;
  height: 24px;
  width: 45px;
}

.selectStyle {
  background-color: gray;
}

p {
  color: gray;
  font-weight: bold;
  text-shadow: gray;
  font-size: larger;
}

#searchLabel {
  margin-right: 5px;
}
#addUser {
  position: absolute;
  right: 2px;
  top: 10px;
}

#dropDownButton {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
