<table class="table  table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col" id="Id"><a (click)="sortClick($event)" href="#">Id</a>
      <i ngClass="{{getSortIcon('id')}}" aria-hidden="true"></i>
    </th>
    <th scope="col" id="Name"><a (click)="sortClick($event)" href="#">Name</a>
      <i ngClass="{{getSortIcon('name')}}" aria-hidden="true"></i>
    </th>
    <th scope="col" id="Position"><a href="#" (click)="sortClick($event)">Position</a>
      <i ngClass="{{getSortIcon('position')}}" aria-hidden="true"></i>
    </th>
    <th scope="col" id="Office"><a href="#" (click)="sortClick($event)">Office</a>
      <i ngClass="{{getSortIcon('office')}}" aria-hidden="true"></i>
    </th>
    <th scope="col" id="Age"><a href="#" (click)="sortClick($event)">Age</a>
      <i ngClass="{{getSortIcon('age')}}" aria-hidden="true"></i>
    </th>
    <th scope="col" id="StartDate"><a href="#" (click)="sortClick($event)">StartDate</a>
      <i ngClass="{{getSortIcon('startDate')}}" aria-hidden="true"></i>
    </th>
    <th scope="col" id="Salary"><a href="#" (click)="sortClick($event)">Salary</a>
      <i ngClass="{{getSortIcon('salary')}}" aria-hidden="true"></i>
    </th>
    <th scope="col" id="actionCloumn">Action
    </th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let user of users | filter:searchValue:searchColumn | orderBy:orderByField:reverseSort">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.position}}</td>
    <td>{{user.office}}</td>
    <td>{{user.age}}</td>
    <td>{{user.startDate}}</td>
    <td>{{user.salary}}</td>
    <td>
      <button id="todo" type="button" (click)="showEdithMoadal(user)" class="btn btn-primary">
        <i class="fa fa-pencil" aria-hidden="true">

        </i></button>

      <button type="button" (click)="removeUser(user)" class="btn btn-danger">
        <i class="fa fa-trash-o" aria-hidden="true">

        </i></button>
    </td>
  </tr>

  </tbody>

</table>
