<!--The content below is only a placeholder and can be replaced.-->

<app-controll-pannale></app-controll-pannale>


<app-tabel></app-tabel>

<app-navigation></app-navigation>

<!-- Modal adding-->
<app-modal-dialog></app-modal-dialog>


